doctype html
html
  head
    title Wine of the Day - Production Notes
    link(href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css')
  
  body(style="background-color: #fff8eb")
    div(style="margin-left: auto; margin-right: auto; width: 700px; font-family: Allura; font-size: 48px; margin-top: 25px; text-align: center;") Wine of the Day
    div(style="width: 700px; margin-top: 60px; margin-left: auto; margin-right: auto; font-family: arial")
      p 'Wine of the day' wines area produced using a trigram language model trained on descriptions found on the back of approximately 100 wine bottles.
      p Some of them are believeable, some of them are comical, many of them are stupid.
      p Goodluck!
      p
        a(href="/") back
      p
        a(href="http://github.com/mhowlett/wineoftheday") github
